In [1]:
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)

NASA Mars News

In [4]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [6]:
html = browser.html

#getting the soup object
soup = BeautifulSoup(html, 'html.parser')

#scrapping for the news title
article = soup.find_all('div', class_='content_title')[1]
title = article.text

#scrapping for the paragraph text

paragraph  = soup.find('div', class_='article_teaser_body')

print(title)

print('')

print(paragraph.text)

How NASA's Perseverance Mars Team Adjusted to Work in the Time of Coronavirus

Like much of the rest of the world, the Mars rover team is pushing forward with its mission-critical work while putting the health and safety of their colleagues and community first.

JPL Mars Space Images - Featured Image

In [ ]:
# #url for the scrape
# url_image = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
# browser.visit(url_image)

# html= browser.html

# #getting the soup object
# soup = BeautifulSoup(html, 'html.parser')

In [ ]:
# Mars Weather

In [ ]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
# !which chromedriver

In [ ]:
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)

In [7]:
# Url to scrape
url_twitter='https://twitter.com/marswxreport?lang=en'

In [8]:
# visiting the browser

browser.visit(url_twitter)


browser.is_element_present_by_xpath('/html/body/div/div/div/div[2]/main/div/div/div/div/div/div/div/section/div/div/div[1]/div/div/div/article/div/div[3]/div[1]/div/span',wait_time=5)
html_2= browser.html

#getting the soup object
soup_2 = BeautifulSoup(html_2, 'html.parser')

tweet = soup_2.find_all('div', class_='css-1dbjc4n')
# <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 501 (2020-04-24) low -93.5ºC (-136.2ºF) high -4.3ºC (24.3ºF)
# winds from the SW at 5.0 m/s (11.3 mph) gusting to 15.8 m/s (35.3 mph)
# pressure at 6.70 hPa</span>

In [9]:
my_list= []
for x in tweet:
    my_list.append(x.find_all('span', class_='css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0'))

In [10]:
my_list[80]

[<span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">New to Twitter?</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Sign up now to get your own personalized timeline!</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Sign up</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">You might like</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">NASA InSight</span></span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">NASA InSight</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">@NASAInSight</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Follow</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Emily Lakdawalla</span></span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Emily Lakdawalla</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">@elakdawalla</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Follow</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Incredible!ndia</span></span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Incredible!ndia</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">@incredibleindia</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Follow</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Show more</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Trends for you</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Trending in United States</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0" dir="ltr">#LockdownEnd</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">47.8K Tweets</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0" dir="ltr">#CourageIsBeautiful</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Thank you, frontline heroes</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Promoted by Dove</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Trending in United States</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Tyson Foods</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">18K Tweets</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Politics · Trending</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Hope Hicks</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">18.3K Tweets</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Politics · Trending</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">FAKE PRESIDENT</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">94.2K Tweets</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Show more</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Terms</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Privacy policy</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Cookies</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Ads info</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">© 2020 Twitter, Inc.</span>]

In [11]:
# getting the tweet

# <div class="css-1dbjc4n r-156q2ks"><div lang="en" dir="auto" 
# class="css-901oao r-jwli3a r-1qd0xha r-1blvdjr r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0">
# <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">
# InSight sol 500 (2020-04-22) low -93.8ºC (-136.8ºF) high -3.5ºC (25.6ºF)
# winds from the WNW at 4.5 m/s (10.1 mph) gusting to 20.4 m/s (45.6 mph)
# pressure at 6.70 hPa</span></div></div>

# /html/body/div/div/div/div[2]/main/div/div/div/div/div/div/div/section/div/div/div[1]/div/div/div/article/div/div[3]/div[1]/div/span

mars_weather =soup_2.find('span',string='InSight')



#     find('div',lang_='en').\
#     find('dir','auto',class_='css-901oao r-jwli3a r-1qd0xha r-1blvdjr r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0').\
#     find('span',class_='css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0').text


# for result in mars_weather:
#     try:
#         weather = result.div.span.text
        
#         if(weather):
#             print(weather)
#     except AttributeError as e:
#         print(e)


print(mars_weather)

# mars=mars_weather.find('span',class_='css-901oao')

# print(mars)

None

In [12]:
# Mars Facts

In [13]:
import pandas as pd

In [14]:
url = 'https://space-facts.com/mars/'

In [15]:
# to get all tables 
tables_df = pd.read_html(url)
tables_df

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [16]:
# get the required table and its DF


mars_facts=tables_df[0]

#rename columns of the table

mars_facts.columns = ["Description","Fact Value"]
mars_facts

            Description                     Fact Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [17]:
#pandas to html

html_table = mars_facts.to_html()
html_table

html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Description</th>      <th>Fact Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [18]:
# saving to a table html

mars_facts.to_html('table.html')

In [19]:
# Mars Hemispheres

In [20]:
# Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.

In [21]:
# from splinter import Browser
# from bs4 import BeautifulSoup


# # https://splinter.readthedocs.io/en/latest/drivers/chrome.html
# !which chromedriver

# # setup Splinter
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)

In [22]:
#Url to scrape
url_mars_hems='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [23]:
# visiting the browser

browser.visit(url_mars_hems)

html_3= browser.html

#getting the soup object
soup_3 = BeautifulSoup(html_3, 'html.parser')

In [24]:
# getting the titles of the hemispheres
cerberus_hem = browser.find_by_tag('h3')[0].text
schiaparelli_hem= browser.find_by_tag('h3')[1].text
syrtis_hem = browser.find_by_tag('h3')[2].text
valles_hem = browser.find_by_tag('h3')[3].text

schiaparelli_hem

'Schiaparelli Hemisphere Enhanced'

In [25]:
#getting the images

browser.click_link_by_partial_text('Cerberus Hemisphere Enhanced')

/Users/Nimmoh/opt/anaconda3/lib/python3.7/site-packages/splinter/driver/webdriver/__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [26]:
html_4=browser.html
soup_4=BeautifulSoup(html_4, 'html.parser')

In [27]:
cerbus=soup_4.find_all('a')[5]['href']

In [28]:
browser.back()

In [29]:
browser.click_link_by_partial_text('Schiaparelli Hemisphere Enhanced')
html_4=browser.html
soup_4=BeautifulSoup(html_4, 'html.parser')

In [30]:
schia=soup_4.find_all('a')[5]['href']

In [32]:
hemisphere_image_urls = [
    {"title": cerberus_hem, "img_url": cerbus},
    {"title": schiaparelli_hem, "img_url": schia}
]

In [33]:
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif'}]